/* landing.css */
.cart-btn {
  cursor: pointer;
}

#heroSection {
  background-image:
    linear-gradient(rgba(37, 99, 235, 0.9), rgba(29, 78, 216, 0.9)),
    url(https://images.unsplash.com/photo-1758272423130-5bbccae36b11?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=1080);
  background-size: cover;
  background-position: center;
}

.large-font {
  font-size: 3rem;
}

.signUp-hover {
  border: 2px solid white;
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-primary-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.signUp-hover:hover {
  --bs-bg-opacity: 0.5;
}

#heroSection #shopNowButton:hover i {
  transform: translate(10px) !important;
  transition: 1s;
}
@media screen and (min-width: 1400px) {
  .hero-header {
    width: 50% !important;
  }
}

.category:hover #emoji {
  transition: 1s ease;
  transform: scale(1.2);
}

/* promotion card */

/* Badge styling */
.promo-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: #ff4757;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 10px rgba(255, 71, 87, 0.3);
}
/* Card Core */
.modern-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 12px;
}

.modern-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1) !important;
}

/* Image Hover Zoom */
.image-wrapper {
  overflow: hidden;
}

.image-wrapper img {
  transition: transform 0.5s ease;
  height: 100%;
  width: 100%;
}

.modern-card:hover .image-wrapper img {
  transform: scale(1.1);
}

/* Enhanced Badges */
.card-badges {
  position: absolute;
  bottom: 250px;
  left: 5px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.badge-hot {
  background: #ff4757;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 0.7rem;
}
.badge-discount {
  background: #2ed573;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 0.7rem;
}

/* Stars Color */
.stars-gold {
  color: #ffbc00;
  font-size: 0.85rem;
}

/* Button Animation */
.addToCartBtn {
  transition: all 0.2s;
}
.modern-card:hover .addToCartBtn {
  background-color: black;
  border-color: black;
  color: white !important;
}
.addToCartBtn:active {
  transform: scale(0.95);
}
.modern-card {
  border: 2px solid #f0f0f0;
  transition: all 0.4s ease;
}

.modern-card:hover {
  border-color: transparent;
  background: linear-gradient(135deg, #6a11cb, #2575fc) border-box;
  transform: translateY(-5px);
}
