/* Main Image */
.main-img {
  border-radius: 12px;
  max-height: 320px;
  object-fit: contain;
}

/* Thumbnails */
.thumb {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.thumb:hover {
  transform: scale(1.08);
  border: 2px solid #0d6efd;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}
